.hero {
    padding: 151px 0 136px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @include a (laptop) {
            justify-content: center;
        }
    }

    &__content {
        max-width: 509px;
        width: 100%;

        @include a (laptop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-size: toRem(54);
        line-height: 81px;
        font-weight: 600;
        margin-bottom: 25px;
        position: relative;

        @include a (laptop) {
            text-align: center;
        }

        &::before {
            content: "";
            position: absolute;
            background: url(/src/assets/images/hero-point.png);
            width: 8px;
            height: 8px;
            bottom: 21px;
            right: 98px;

            @include a (laptop) {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background: url(/src/assets/images/hero-point-sml.png);
            width: 6px;
            height: 6px;
            bottom: 21px;
            right: 88px;

            @include a (laptop) {
                display: none;
            }
        }
        &-span {
            color: $main-color;
        }
    }

    &__descr {
        font-size: toRem(21);
        line-height: 160%;
        color: rgba($color: $dark-color, $alpha: 0.7);
        margin-bottom: 30px;

        @include a (laptop) {
            text-align: center;
        }
    }

    &__form {
        display: flex;
        justify-content: space-between;
        max-width: 472px;
        width: 100%;
        padding: 6px;
        padding-left: 24px;
        height: 65px;
        border-radius: 6px;
        background-color: $light-color;
        filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
        margin-bottom: 35px;
    }

    &__input {
        &::placeholder {
            font-size: toRem(18);
            color: rgba($color: $dark-color, $alpha: 0.5);
        }
    }

    &__btn {
        font-size: toRem(21);
        font-weight: 500;
        color: $light-color;
        background-color: $accent-color;
        width: 120px;
        line-height: 53px;
        border-radius: 6px;
        text-align: center;
    }


    &__links {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__image {
        position: relative;

        @include a (laptop) {
            display: none;
        }
    }

    &__img {
        &-border {
            position: absolute;
            left: -25px;
            bottom: 0;
            z-index: 1;
        }

        &-sml {
            position: absolute;
            left: -15px;
            bottom: 7px;
        }
    }

    &__circle {
        &-lt {
            position: absolute;
            left: -68px;
            top: -100px;
            z-index: -1;
        }

        &-rb {
            position: absolute;
            right: -70px;
            bottom: -86px;
            z-index: -1;
        }
    }
}